.locationHeading {
    background-color: skyblue;
}

.locationContainer {
    background-color: #aec3d3;
    margin: 10px 0px 10px 0px;
    height: 120px;
}

.btn-fl-r {
    float: right;
}

.btn-mr {
    margin: 5px;
}