.locationHeading {
    background-color: skyblue;
}

.locationContainer {
    // background-color: #aec3d3;
    margin: 10px 0px 10px 0px;
    height: 170px;
    width: 100%;
}

.searchLocation {
    margin: 10px 0px 10px 0px;
    width: 100%;
}

.btn-fl-r {
    float: right;
}

.btn-mr {
    margin: 5px;
}

.set-met-card {
    max-width: none !important;
}

.set-met-card .mr-b-5 {
    margin-bottom: 5px !important;
}